h1 {
  font-size: 96px;
  font-family: poppins;
  font-weight: 700;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Madrid.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px 0;
}

header h1 {
  color: white;
}

header h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

header p {
  color: white;
  margin-bottom: 30px;
}
